[Desktop Entry]
Type=Application
Name=Better Handheld Keyboard
Exec=sh -c 'python3 __BIN__/handheld-kbd.py >/tmp/handheld-kbd-out.log 2>&1'
X-GNOME-Autostart-enabled=true
